@charset "utf-8";

$font: 'Source Sans Pro', sans-serif;
$f-bold: 400;
$f-light: 300;

$gray: #aaaaaa;
$bgc: #151515;

$breakpoints: (
    'pc': "screen and (max-width:900px)",
);
//$breakpoint: pcで初期設定している
@mixin md($breakpoint: pc) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}


html {
    background-color: $bgc;
}

a, p, h1, h2, span, small {
    color: white;
    font-family: $font;
    font-weight: $f-light;
}

/**
* header ****************************************************************************************************
**/

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header_main {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: relative;
    z-index: 1000;
}

.logo {
    img {
        display: block;
        width: 150px;
        height: auto;
    }
}

//ハンバーガーメニュー
.hamburger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.hamburger_item {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    transition: all .3s;
    
    &:nth-child(1) {
        top: 2px;
    }
    &:nth-child(2) {
        top: 49%;
    }
    &:nth-child(3) {
        bottom: 2px;
    }

}
.hamburger.active {
    span:nth-child(1) {
        transform: translateY(18px) rotate(45deg) rotateY(360deg);
    }
    span:nth-child(2) {
        opacity: 0;
    }
    span:nth-child(3) {
        transform: translateY(-18px) rotate(-45deg) rotateY(-360deg);
    }
}


.header_nav {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 40vh;
    background-color: $bgc;
    transition: all .5s;
    z-index: 999;
    ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    li {
        text-align: center;
        margin-bottom: 10px;
    }
    &.active {
        top: 0;
    }
}

/**
* /header ****************************************************************************************************
**/

/**
* main ****************************************************************************************************
**/

.container {
    text-align: center;
}

.wrapper {
    max-width: 800px;
    padding: 0 30px;
    margin: 0 auto;
}

.bold {
    font-weight: $f-bold;
    font-size: 2.25rem;
}

.main_visual {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    img {
        width: calc(100%/3);
        height: 100vh;
        flex-shrink: 0;
        object-fit: cover;
        @include md() {
            width: 100%;
        }
    }
}

section {
    margin-bottom: 100px;
    h2 {
        display: inline-block;
        margin: 7px 0 50px;
        padding-bottom: 5px;
        font-size: 4rem;
        border-bottom: 1px solid white;
    }
    p {
        font-size: 1.5rem;
        margin-bottom: 40px;
        line-height: 2rem;
    }

    @include md() {
        h2 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}

/**
* info ****************************************************************************************************
**/

.info {
    margin-bottom: 150px;
}

h1 {
    margin: 70px 0;
    font-size: 6rem;
    line-height: 7rem;

    @include md() {
        font-size: 3rem;
        line-height: 5rem;
    }
}

/**
* gallery ****************************************************************************************************
**/
.gallery {
    margin-bottom: 500px;
}

.gallery_img {
    li {
        margin-bottom: 80px;
    }
    li:nth-child(odd) {
        text-align: left;
    }
    li:nth-child(even) {
        text-align: right;
    }
    img {
        opacity: 0;
        max-width: 300px;
    }
    @include md() {
        li {
            margin-bottom: 20px;
            &:nth-child(odd) {
                text-align: center;
            }
            &:nth-child(even) {
                text-align: center;
            }
        }
        img {
            max-width: 900px;
            width: 100%;
            height: auto;
        }
    }
}

.gallery_img_item.show_gallery_img {
    animation: show_gallery_img 2s .5s forwards ease;
}

@keyframes show_gallery_img {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

/**
* access ****************************************************************************************************
**/
.access {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/access_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $bgc;
        z-index: 1;
        transition: all .5s;
    }
    h2, p, a {
        position: relative;
        z-index: 10;
    }
}

.access.show_a_bg {
    &::before {
        background-color: #0000004d;
    }
}

.googlemap {
    display: inline-block;
    border: 1px solid $gray;
    padding: 20px 60px;
    transition: all .3s;
    &:hover {
        background-color: rgba(49, 49, 49, 0.693);
        color: white;
    }
}

/**
* contact ****************************************************************************************************
**/

.contact_wrapper {
    .contact_link {
        max-width: 800px;
        width: 400px;
        margin: 0 auto 50px;
    }
    a {
        position: relative;
        line-height: 100px;
        display: block;
        width: 100%;
        height: 100px;
        border: 1px solid $gray;
        transition: all .3s;
        &::before {
            position: absolute;
            content: '';
            width: 100px;
            height: 1px;
            background-color: $gray;
            top: 50%;
            right: -30px;
            transition: all .3s;
        }
        &::after {
            position: absolute;
            content: '';
            width: 2px;
            height: 15px;
            background-color: $gray;
            top: 36px;
            right: -24px;
            transform: skewX(45deg);
            transition: all .3s;
        }

        &:hover {
            opacity: .7;
            &::before {
                transform: translateX(10px);
            }
            &::after {
                transform: translateX(10px) skewX(45deg);
            }
        }
    }
    @include md() {
        a::before, a::after {
            display: none;
        }
        .contact_link {
            width: 80%;
        }
    }
}

/**
* side ****************************************************************************************************
**/
.side {
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 30vh;
    right: -166px;
    transform: rotate(-90deg) translateY(100px);
    transition: 1s all;
    z-index: 999;
    border: 1px solid $gray;
    border-bottom: none;
    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
        height: 100px;
        background-color: $gray;
        right: 50%;
    }
    a {
        display: block;
        padding: 20px 50px;
        transition: all .3s;
        &:hover {
            opacity: .7;
        }
    }
    @include md() {
        display: none;
    }
}

.side.show_side {
    transform: rotate(-90deg);
}

/**
* /main ****************************************************************************************************
**/

/**
* footer ****************************************************************************************************
**/

footer {
    // height: 30vh;
    border-top: 1px solid white;
    padding: 80px 30px;
}

.footer_about {
    margin-bottom: 50px;
    p {
        font-size: .8rem;
        line-height: 1.5rem;
    }
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    a {
        margin-right: 20px;
        font-size: .8rem;
    }
    small {
        font-size: .8rem;
    }
    &_sns {
    }
    &_policy {
    }
}


/**
* /footer ****************************************************************************************************
**/